<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.n7.erp.dao.AdminDao">
	<!-- 페이징 관련 테스트중 홈페이지회원보기 -->
	<select id="countMember" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE M_GRADE != 'X'
	</select>
	
	<!-- 페이징 처리 후 회원조회 -->
	
	<!-- 탈퇴회원 포함X -->
	<select id="selectMember" resultType="member">
		SELECT B.*, COMPANY.C_NAME
			FROM (
				 SELECT ROWNUM RN, A.*
					FROM (
						  SELECT *
						  FROM MEMBER
						  WHERE M_GRADE != 'X'
                          ORDER BY M_GRADE DESC
						  ) A
				 ) B
			INNER JOIN COMPANY
				ON M_CCODE = COMPANY.C_CODE
			WHERE 
				RN BETWEEN #{start} AND #{end}
	</select>
	
	
	<select id="countCompany" resultType="int">
		SELECT COUNT(*) FROM COMPANY
	</select>
	
	<!-- 페이징 처리 후 회원조회 -->
	
	<!-- 탈퇴회원 포함X -->
	<select id="selectCompany" resultType="company">
		SELECT *
			FROM (
				 SELECT ROWNUM RN, A.*
					FROM (
						  SELECT *
						  FROM COMPANY
						  ) A
				 )
			WHERE 
				RN BETWEEN #{start} AND #{end}
	</select>
	

	
	<select id="countCCodeMember" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE M_CCODE = #{m_ccode} AND M_GRADE != 'X'
	</select>
	
	<!-- 페이징 처리 후 회원조회 -->
	
	<!-- 탈퇴회원 포함X -->
	<select id="selectCCodeMember" resultType="member">
		SELECT B.*, COMPANY.C_NAME
			FROM (
				 SELECT ROWNUM RN, A.*
					FROM (
						  SELECT *
						  FROM MEMBER
						  WHERE M_CCODE = #{cCode} AND M_GRADE != 'X'
						  ORDER BY M_GRADE DESC
						  ) A
				 )B
			INNER JOIN COMPANY
				ON M_CCODE = COMPANY.C_CODE
			WHERE 
				RN BETWEEN #{start} AND #{end}
	</select>
	
</mapper>